In [47]:
import pandas as pd
import numpy as np

import datetime

In [2]:
df_recent = pd.read_csv("../data/Net_generation_for_all_sectors.csv")
df_past = pd.read_csv("../data/Table_8.2a_Electricity_Net_Generation_Total_(All_Sectors)_1949-2011.csv")

In [3]:
df_recent = df_recent.T

In [4]:
df_recent.drop(columns = [0,1], inplace = True)

Thousand Megawatt Hours = Billion Kilowatt Hours * 100

In [6]:
df_past *= 100

In [7]:
df_past['Year'] /= 100

In [9]:
df_past.columns

Index(['Year', 'Fossil Fuels Coal Billion Kilowatthours',
       'Fossil Fuels Petroleum Billion Kilowatthours',
       'Fossil Fuels Natural Gas Billion Kilowatthours',
       'Fossil Fuels Other Gases Billion Kilowatthours',
       'Fossil Fuels Total Billion Kilowatthours',
       'Nuclear Electric Power Billion Kilowatthours',
       'Hydro- electric Pumped Storage Billion Kilowatthours',
       'Renewable Energy Conventional Hydroelectric Power Billion Kilowatthours',
       'Renewable Energy Biomass Wood Billion Kilowatthours',
       'Renewable Energy Biomass Waste Billion Kilowatthours',
       'Renewable Energy Geo- thermal Billion Kilowatthours',
       'Renewable Energy Solar/PV Billion Kilowatthours',
       'Renewable Energy Wind Billion Kilowatthours',
       'Renewable Energy Total Billion Kilowatthours',
       'Other Billion Kilowatthours', 'Total Billion Kilowatthours'],
      dtype='object')

In [10]:
df_recent.columns

Int64Index([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
            21],
           dtype='int64')

In [11]:
df_recent.head()

,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
description,United States : all fuels (utility-scale),United States : coal,United States : petroleum liquids,United States : petroleum coke,United States : natural gas,United States : other gases,United States : nuclear,United States : conventional hydroelectric,United States : other renewables,United States : wind,United States : all utility-scale solar,United States : geothermal,United States : biomass,United States : wood and wood-derived fuels,United States : other biomass,United States : hydro-electric pumped storage,United States : other,United States : all solar,United States : small-scale solar photovoltaic,United States : all utility-scale solar
units,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,NaN,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours
source key,ELEC.GEN.ALL-US-99.M,ELEC.GEN.COW-US-99.M,ELEC.GEN.PEL-US-99.M,ELEC.GEN.PC-US-99.M,ELEC.GEN.NG-US-99.M,ELEC.GEN.OOG-US-99.M,ELEC.GEN.NUC-US-99.M,ELEC.GEN.HYC-US-99.M,ELEC.GEN.AOR-US-99.M,ELEC.GEN.WND-US-99.M,ELEC.GEN.SUN-US-99.M,ELEC.GEN.GEO-US-99.M,ELEC.GEN.BIO-US-99.M,ELEC.GEN.WWW-US-99.M,ELEC.GEN.WAS-US-99.M,ELEC.GEN.HPS-US-99.M,ELEC.GEN.OTH-US-99.M,ELEC.GEN.TSN-US-99.M,ELEC.GEN.DPV-US-99.M,ELEC.GEN.SUN-US-99.M
Jan 2001,332493,177287,17300,812,42389,718,68707,18852,NaN,389,7,1229,4400,3191,1209,-589,992,--,--,7
Feb 2001,282940,149735,9626,716,37967,676,61272,17473,NaN,431,13,1073,3793,2697,1096,-707,872,--,--,13

In [12]:
df_recent.set_axis(df_recent.loc['description'],axis = 1, inplace = True)

In [13]:
df_recent.head()

description,United States : all fuels (utility-scale),United States : coal,United States : petroleum liquids,United States : petroleum coke,United States : natural gas,United States : other gases,United States : nuclear,United States : conventional hydroelectric,United States : other renewables,United States : wind,United States : all utility-scale solar,United States : geothermal,United States : biomass,United States : wood and wood-derived fuels,United States : other biomass,United States : hydro-electric pumped storage,United States : other,United States : all solar,United States : small-scale solar photovoltaic,United States : all utility-scale solar
description,United States : all fuels (utility-scale),United States : coal,United States : petroleum liquids,United States : petroleum coke,United States : natural gas,United States : other gases,United States : nuclear,United States : conventional hydroelectric,United States : other renewables,United States : wind,United States : all utility-scale solar,United States : geothermal,United States : biomass,United States : wood and wood-derived fuels,United States : other biomass,United States : hydro-electric pumped storage,United States : other,United States : all solar,United States : small-scale solar photovoltaic,United States : all utility-scale solar
units,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,NaN,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours,thousand megawatthours
source key,ELEC.GEN.ALL-US-99.M,ELEC.GEN.COW-US-99.M,ELEC.GEN.PEL-US-99.M,ELEC.GEN.PC-US-99.M,ELEC.GEN.NG-US-99.M,ELEC.GEN.OOG-US-99.M,ELEC.GEN.NUC-US-99.M,ELEC.GEN.HYC-US-99.M,ELEC.GEN.AOR-US-99.M,ELEC.GEN.WND-US-99.M,ELEC.GEN.SUN-US-99.M,ELEC.GEN.GEO-US-99.M,ELEC.GEN.BIO-US-99.M,ELEC.GEN.WWW-US-99.M,ELEC.GEN.WAS-US-99.M,ELEC.GEN.HPS-US-99.M,ELEC.GEN.OTH-US-99.M,ELEC.GEN.TSN-US-99.M,ELEC.GEN.DPV-US-99.M,ELEC.GEN.SUN-US-99.M
Jan 2001,332493,177287,17300,812,42389,718,68707,18852,NaN,389,7,1229,4400,3191,1209,-589,992,--,--,7
Feb 2001,282940,149735,9626,716,37967,676,61272,17473,NaN,431,13,1073,3793,2697,1096,-707,872,--,--,13

In [14]:
df_past.columns

Index(['Year', 'Fossil Fuels Coal Billion Kilowatthours',
       'Fossil Fuels Petroleum Billion Kilowatthours',
       'Fossil Fuels Natural Gas Billion Kilowatthours',
       'Fossil Fuels Other Gases Billion Kilowatthours',
       'Fossil Fuels Total Billion Kilowatthours',
       'Nuclear Electric Power Billion Kilowatthours',
       'Hydro- electric Pumped Storage Billion Kilowatthours',
       'Renewable Energy Conventional Hydroelectric Power Billion Kilowatthours',
       'Renewable Energy Biomass Wood Billion Kilowatthours',
       'Renewable Energy Biomass Waste Billion Kilowatthours',
       'Renewable Energy Geo- thermal Billion Kilowatthours',
       'Renewable Energy Solar/PV Billion Kilowatthours',
       'Renewable Energy Wind Billion Kilowatthours',
       'Renewable Energy Total Billion Kilowatthours',
       'Other Billion Kilowatthours', 'Total Billion Kilowatthours'],
      dtype='object')

In [15]:
df_recent.drop(index = ['description', 'units', 'source key'], inplace = True)

In [16]:
past_cols = ['Year', 'Coal',
       'Petroleum',
       'Natural Gas',
       'Other Gases',
       'Fossil Fuels Total',
       'Nuclear',
       'Hydro- electric Pumped Storage',
       'Conventional Hydroelectric Power',
       'Biomass Wood',
       'Biomass Waste',
       'Geo- thermal',
       'Solar/PV',
       'Wind',
       'Renewable Energy Total',
       'Other',
       'Total']

In [17]:
df_past.set_axis(past_cols, axis = 1, inplace = True)

In [18]:
df_past.head()

,Year,Coal,Petroleum,Natural Gas,Other Gases,Fossil Fuels Total,Nuclear,Hydro- electric Pumped Storage,Conventional Hydroelectric Power,Biomass Wood,Biomass Waste,Geo- thermal,Solar/PV,Wind,Renewable Energy Total,Other,Total
0,2011.0,173430.0,2820.0,101660.0,1130.0,279030.0,79020.0,-590.0,32510.0,3690.0,1980.0,1670.0,180.0,11970.0,52010.0,1110.0,410570.0
1,2010.0,184730.0,3710.0,98770.0,1130.0,288340.0,80700.0,-550.0,26020.0,3720.0,1890.0,1520.0,120.0,9470.0,42740.0,1290.0,412510.0
2,2009.0,175590.0,3890.0,92100.0,1060.0,272650.0,79890.0,-460.0,27340.0,3610.0,1840.0,1500.0,90.0,7390.0,41770.0,1190.0,395030.0
3,2008.0,198580.0,4620.0,88300.0,1170.0,292670.0,80620.0,-630.0,25480.0,3730.0,1770.0,1480.0,90.0,5540.0,38090.0,1180.0,411940.0
4,2007.0,201650.0,6570.0,89660.0,1350.0,299220.0,80640.0,-690.0,24750.0,3900.0,1650.0,1460.0,60.0,3440.0,35270.0,1220.0,415670.0

In [19]:
df_recent.columns.str.replace("United States : ", "")

Index(['all fuels (utility-scale)', 'coal', 'petroleum liquids',
       'petroleum coke', 'natural gas', 'other gases', 'nuclear',
       'conventional hydroelectric', 'other renewables', 'wind',
       'all utility-scale solar', 'geothermal', 'biomass',
       'wood and wood-derived fuels', 'other biomass',
       'hydro-electric pumped storage', 'other', 'all solar',
       'small-scale solar photovoltaic', 'all utility-scale solar'],
      dtype='object', name='description')

In [20]:
recent_cols = ['Total(minus solar)', 
               'Coal', 
               'Petroleum Liquids',
               'Petroleum Coke', 
               'Natural Gas', 
               'Other Gases', 
               'Nuclear',
               'Conventional Hydroelectric Power', 
               'other renewables', 
               'Wind',
               'all utility-scale solar', 
               'Geo- thermal', 
               'Biomass Total',
               'Biomass Wood', 
               'Biomass Waste',
               'Hydro- electric Pumped Storage', 
               'Other', 
               'Solar/PV',
               'small-scale solar photovoltaic', 
               'all utility-scale solar']

In [21]:
df_recent.set_axis(recent_cols, axis = 1, inplace = True)
df_recent.head()

,Total(minus solar),Coal,Petroleum Liquids,Petroleum Coke,Natural Gas,Other Gases,Nuclear,Conventional Hydroelectric Power,other renewables,Wind,all utility-scale solar,Geo- thermal,Biomass Total,Biomass Wood,Biomass Waste,Hydro- electric Pumped Storage,Other,Solar/PV,small-scale solar photovoltaic,all utility-scale solar
Jan 2001,332493,177287,17300,812,42389,718,68707,18852,NaN,389,7,1229,4400,3191,1209,-589,992,--,--,7
Feb 2001,282940,149735,9626,716,37967,676,61272,17473,NaN,431,13,1073,3793,2697,1096,-707,872,--,--,13
Mar 2001,300707,155269,10981,752,44364,769,62141,20477,NaN,532,31,1190,4042,2853,1189,-773,931,--,--,31
Apr 2001,278079,140671,10237,627,45843,698,56003,18013,NaN,685,39,1095,4008,2821,1187,-796,957,--,--,39
May 2001,300492,151593,9641,749,50934,785,61512,19176,NaN,635,81,1071,3951,2740,1211,-623,986,--,--,81

In [22]:
df_past.dtypes

Year                                float64
Coal                                float64
Petroleum                           float64
Natural Gas                         float64
Other Gases                         float64
Fossil Fuels Total                  float64
Nuclear                             float64
Hydro- electric Pumped Storage      float64
Conventional Hydroelectric Power    float64
Biomass Wood                        float64
Biomass Waste                       float64
Geo- thermal                        float64
Solar/PV                            float64
Wind                                float64
Renewable Energy Total              float64
Other                               float64
Total                               float64
dtype: object

In [23]:
df_recent.replace("--", "NaN", inplace = True)

In [24]:
df_recent = df_recent.astype(float)

In [25]:
df_recent.isnull().sum()

Total(minus solar)                    0
Coal                                  0
Petroleum Liquids                     0
Petroleum Coke                        0
Natural Gas                           0
Other Gases                           0
Nuclear                               0
Conventional Hydroelectric Power      0
other renewables                    220
Wind                                  0
all utility-scale solar               0
Geo- thermal                          0
Biomass Total                         0
Biomass Wood                          0
Biomass Waste                         0
Hydro- electric Pumped Storage        0
Other                                 0
Solar/PV                            156
small-scale solar photovoltaic      156
all utility-scale solar               0
dtype: int64

In [26]:
df_recent.fillna(0, inplace = True)

In [27]:
df_recent['Petroleum'] = df_recent['Petroleum Liquids'] + df_recent['Petroleum Coke']
df_recent[['Petroleum Liquids', 'Petroleum Coke', 'Petroleum']].head()

          Petroleum Liquids  Petroleum Coke  Petroleum
Jan 2001            17300.0           812.0    18112.0
Feb 2001             9626.0           716.0    10342.0
Mar 2001            10981.0           752.0    11733.0
Apr 2001            10237.0           627.0    10864.0
May 2001             9641.0           749.0    10390.0

In [28]:
df_recent.isnull().sum()

Total(minus solar)                  0
Coal                                0
Petroleum Liquids                   0
Petroleum Coke                      0
Natural Gas                         0
Other Gases                         0
Nuclear                             0
Conventional Hydroelectric Power    0
other renewables                    0
Wind                                0
all utility-scale solar             0
Geo- thermal                        0
Biomass Total                       0
Biomass Wood                        0
Biomass Waste                       0
Hydro- electric Pumped Storage      0
Other                               0
Solar/PV                            0
small-scale solar photovoltaic      0
all utility-scale solar             0
Petroleum                           0
dtype: int64

In [29]:
df_recent.dtypes

Total(minus solar)                  float64
Coal                                float64
Petroleum Liquids                   float64
Petroleum Coke                      float64
Natural Gas                         float64
Other Gases                         float64
Nuclear                             float64
Conventional Hydroelectric Power    float64
other renewables                    float64
Wind                                float64
all utility-scale solar             float64
Geo- thermal                        float64
Biomass Total                       float64
Biomass Wood                        float64
Biomass Waste                       float64
Hydro- electric Pumped Storage      float64
Other                               float64
Solar/PV                            float64
small-scale solar photovoltaic      float64
all utility-scale solar             float64
Petroleum                           float64
dtype: object

In [30]:
df_past.set_index('Year', inplace = True)

In [31]:
df_past.dtypes

Coal                                float64
Petroleum                           float64
Natural Gas                         float64
Other Gases                         float64
Fossil Fuels Total                  float64
Nuclear                             float64
Hydro- electric Pumped Storage      float64
Conventional Hydroelectric Power    float64
Biomass Wood                        float64
Biomass Waste                       float64
Geo- thermal                        float64
Solar/PV                            float64
Wind                                float64
Renewable Energy Total              float64
Other                               float64
Total                               float64
dtype: object

In [32]:
df_past.isnull().sum()

Coal                                 0
Petroleum                            0
Natural Gas                          0
Other Gases                         40
Fossil Fuels Total                   0
Nuclear                              1
Hydro- electric Pumped Storage      41
Conventional Hydroelectric Power     0
Biomass Wood                         1
Biomass Waste                       21
Geo- thermal                        12
Solar/PV                            40
Wind                                40
Renewable Energy Total               0
Other                               40
Total                                0
dtype: int64

In [33]:
df_past.fillna(0, inplace = True)

In [34]:
df_past.isnull().sum()

Coal                                0
Petroleum                           0
Natural Gas                         0
Other Gases                         0
Fossil Fuels Total                  0
Nuclear                             0
Hydro- electric Pumped Storage      0
Conventional Hydroelectric Power    0
Biomass Wood                        0
Biomass Waste                       0
Geo- thermal                        0
Solar/PV                            0
Wind                                0
Renewable Energy Total              0
Other                               0
Total                               0
dtype: int64

## Getting the dates to be the index and converting them to proper Datetime form

In [35]:
df_recent.index

Index(['Jan 2001', 'Feb 2001', 'Mar 2001', 'Apr 2001', 'May 2001', 'Jun 2001',
       'Jul 2001', 'Aug 2001', 'Sep 2001', 'Oct 2001',
       ...
       'Jul 2018', 'Aug 2018', 'Sep 2018', 'Oct 2018', 'Nov 2018', 'Dec 2018',
       'Jan 2019', 'Feb 2019', 'Mar 2019', 'Apr 2019'],
      dtype='object', length=220)

In [36]:
abv_month = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
}

In [37]:
def getDate_recent(month_year):
    month, year = month_year.split()
    month = abv_month[month]
    return datetime.date.fromisoformat(f'{year}-{month}-01')

In [38]:
def getDate_past(year):
    return datetime.date.fromisoformat(f'{year}-12-01')

In [39]:
index_before_past = df_past.index
index_after_past = []
for item in index_before_past:
    index_after_past.append(getDate_past(int(item)))

In [40]:
df_past['date'] = index_after_past
df_past.set_index('date', inplace = True)

In [41]:
df_past.columns

Index(['Coal', 'Petroleum', 'Natural Gas', 'Other Gases', 'Fossil Fuels Total',
       'Nuclear', 'Hydro- electric Pumped Storage',
       'Conventional Hydroelectric Power', 'Biomass Wood', 'Biomass Waste',
       'Geo- thermal', 'Solar/PV', 'Wind', 'Renewable Energy Total', 'Other',
       'Total'],
      dtype='object')

In [42]:
index_before_recent = df_recent.index
index_after_recent = []
for item in index_before_recent:
    index_after_recent.append(getDate_recent(item))

In [43]:
df_recent['date'] = index_after_recent

In [44]:
df_recent.set_index("date", inplace = True)

In [46]:
df_recent.to_csv('../data/energy_recent_clean.csv')
df_past.to_csv('../data/energy_past_clean.csv')